# .env.example is a way to include in version control systems (like git and github) a "template" of what an actual .env file should look like for the project, without exposing sensitive values

# Required: OpenRouter API key for LLM access
# Get your free API key at https://openrouter.ai/keys
OPENROUTER_API_KEY=your_openrouter_api_key_here

# Required: Jina (or other) API key for embeddings
# Could also try Google, Cohere, Nomic...
# Get your free API key at https://jina.ai/embeddings/
EMBEDDING_API_KEY=your_embedding_api_key_here